#homePageContainer {
  width: 100vw;
}

#homePageContent {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

#saleBanner {
  background-color: #ff8a00;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  width: 100%;
}

#productsContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

#productsContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.productBox {
  background-color: lightgray;
  height: 190px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.productBoxText p:last-of-type {
  margin-top: 8px;
  font-weight: 600;
  color: green;
}

.productImage {
  width: 70%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.productBtn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.75);
  touch-action: manipulation; /* Improves touch responsiveness */
  cursor: pointer;
}

#heroImg {
  margin-bottom: 25px;
}

#heroImg img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#middleHero {
  margin-top: 25px;
  margin-bottom: 25px;
}

#adidasHeroImgContainer {
  position: relative;
  display: block;
}

#adidasHeroImg {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

#adidasHeroLink {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  text-decoration: underline;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

#spezialHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.spezialHeroText {
  padding: 10px;
  text-align: center;
}

#adidasHandball1Container {
  display: block;
  text-align: center;
}

#adidasHandball1 {
  width: 100%;
  display: block;
  height: 210px;
}

#adidasHandball2Container {
  display: block;
  text-align: center;
}

#adidasHandball2 {
  width: 100%;
  display: block;
  height: 210px;
}
